myapp/static/mydtd.dtd

<?xml version="1.0" encoding="utf-8" ?>
<!ELEMENT testSuites (test*)>
<!ELEMENT test (step*)>

<!ATTLIST testSuites count #CDATA>
<!ATTLIST testSuites exeid #CDATA>
<!ATTLIST testSuites suiteName #CDATA>
<!ATTLIST test caseid ID #REQUIRED >
<!ATTLIST test name #CDATA >
<!ELEMENT step (#PCDATA)>
<!ATTLIST step action #CDATA >
<!ATTLIST step attr #CDATA>
<!ATTLIST step id #CDATA>
<!ATTLIST step inputValue #CDATA>
<!ATTLIST step locator #CDATA>